################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/backend/backendCherryPicker/appsettings.Development.json
/backend/backendCherryPicker/appsettings.json
/backend/backendCherryPicker/backendCherryPicker.csproj.user
