:root{
  --cherry-primary: #a24164;
  --cherry-envelope: rgb(245, 246, 235);
  --cherry-backdrop: #a2416479;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
  height: 100%;
}


main{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


body{
 background: url("../static/fondo.jpg");
 background-size: cover;
 padding: 1rem;
}

main{
  border: 2px dashed var(--cherry-primary);
}

h1, 
h2, 
h3{
  font-family: "Playwrite CA", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--cherry-primary);
}

h1{
  font-size:  6rem;
}

h2{
  font-size: 3rem;
}

#cherry-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}


button.cherry-button{
  padding: 1rem;
  cursor: pointer;
  background-color: var(--cherry-primary);
  border-radius: 50px;
  border: none;
  color: white;
  min-width: 200px;
  max-height: 50px;
  font-size: medium;
}

button.cherry-button-secondary{
  color: var(--cherry-primary);
  border: 2px solid var(--cherry-primary);
  padding: 1rem;
  cursor: pointer;
  border-radius: 50px;
  min-width: 200px;
  max-height: 50px;
  font-size: medium;
}

input.cherry-input{
  padding: 1rem;
  border-radius: 50px;
  border:  2px solid black;
  min-width: 500px;
  text-align: center;
  color: var(--cherry-primary);
}

input.cherry-input::placeholder {
  color: var(--cherry-primary);
  opacity: 1; 
}   

input.cherry-input:focus {
  border: 2px solid var(--cherry-primary);
  outline: none;
}

input.cherry-input + span{
  display: block;
}

/* utility classes */

.text-center{
  text-align: center;
}

.d-flex{
  display: flex;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.align-self-center{
  align-self: center;
}

.gap-1{
  gap: 1rem;
}

.teacher-font{
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*  */

.cherry-button:hover{
  background-color: var(--cherry-primary);
}

#app-content{
  padding: 2rem;
}

.cherry-date{
  max-width: 200px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.cherry-date:hover #date-title {
  display: block;
}

#cherry-dates-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#date-title{
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: #a24164;       
  font-size: 0.5rem;     
  text-align: center;
  width: 80%;        
  z-index: 1;
  background-color: var(--cherry-envelope);
  padding: 0.5rem;
}


/* modal */

#modal-backdrop{
  position: fixed;
  visibility: hidden;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: var(--cherry-backdrop);
  z-index: 2;
}

#modal-content{
  position: relative;
  width: 100%;
  height: 50%;
  background: url("../static/modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#close-modal{
  position: absolute;
  top: 5rem;
  right: 2rem;
  font-size: 1.5rem;
}

#picked-date-content{
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}